# =========================
# Django
# =========================
DJANGO_SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend

# =========================
# MySQL
# =========================
MYSQL_DATABASE=product_management
MYSQL_USER=product_user
MYSQL_PASSWORD=product_password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_HOST=db
MYSQL_PORT=3306

# =========================
# CORS
# =========================
CORS_ALLOWED_ORIGINS=http://localhost:5173

# =========================
# React
# =========================
VITE_API_URL=http://localhost:8000/api