__pycache__/
*.py[cod]
*.pyc
*.sqlite3
db.sqlite3
venv/
backend/venv/
env/
.env
backend/.env
backend/.env.docker

# Django static/media
staticfiles/
media/

# =========================
# Node / React
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# Docker
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
